body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background: url(https://31.media.tumblr.com/tumblr_maolcpnQS61qakj1do1_500.gif);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 2.38;
    filter: blur(4rem);
    transition: filter 0.75s;
}

.card0 {
    width: 94%;
    background: url(https://31.media.tumblr.com/tumblr_maolcpnQS61qakj1do1_500.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.card1 {
    padding: 30px 20px 30px 50px;
    backdrop-filter: blur(3px);
    background: #0b0f1121;
    color: rgb(235, 221, 221);
}

.image {
    width: 300px;
    height: 300px
}

.large-font {
    font-size: 70px;
    font-family: Arial
}

.fa-sun-o {
    font-size: 22px
}

.card2 {
    background-color: #121414a1;
    padding: 0px 0px 40px 40px
}

input {
    background-color: #12141400;
    padding: 24px 0px 12px 0px !important;
    width: 68%;
    box-sizing: border-box;
    border: none !important;
    border-bottom: 1px solid #CFD8DC !important;
    font-size: 16px !important;
    color: #fff !important
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline-width: 0;
    font-weight: 400
}

::placeholder {
    color: #B0BEC5 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #B0BEC5 !important
}

::-ms-input-placeholder {
    color: #B0BEC5 !important
}

.fa-search {
    color: #607D8B;
    background-color: #E1F5FE;
    font-size: 20px;
    padding: 20px;
    width: 20%;
    cursor: pointer
}

.fa-search:hover {
    background: #d0eefc;
}

.light-text {
    color: #B0BEC5
}

.suggestion:hover {
    color: #fff;
    cursor: pointer
}

.line {
    height: 1px;
    background-color: #B0BEC5
}

@media screen and (max-width: 500px) {
    .card1 {
        padding-left: 26px
    }
}